body {background-color: black;
     color:white;
  font-family: Times New Roman;
    text-align:center;
  background-image: url("https://wallpapercave.com/wp/OLrPvT4.jpg");
background-repeat:no-repeat;
}
a {
    color: white;
}
